#ops-cache {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-9);

  & [data-part="actions"] {
    display: flex;
    gap: var(--noora-spacing-4);
  }

  & [data-part="add-form"] {
    display: flex;
    align-items: flex-end;
    gap: var(--noora-spacing-5);

    & [data-part="field"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-2);

      & label {
        color: var(--noora-surface-label-secondary);
        font: var(--noora-font-body-small);
      }
    }
  }
}
