name: Android

on:
  push:
    branches:
      - main
    paths:
      - android/**
      - .github/workflows/android.yml
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - android/**
      - .github/workflows/android.yml
  merge_group:

concurrency:
  group: android-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

defaults:
  run:
    working-directory: android

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: github.event.pull_request.draft == false || github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
      - uses: gradle/actions/setup-gradle@v4
      - uses: jdx/mise-action@v3.2.0
        with:
          install_args: "tuist"
          cache: "false"
      - name: Authenticate with Tuist
        if: github.event.pull_request.head.repo.fork != true
        run: tuist auth login
      - run: ./gradlew testDebugUnitTest

  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: github.event.pull_request.draft == false || github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
      - uses: gradle/actions/setup-gradle@v4
      - uses: jdx/mise-action@v3.2.0
        with:
          install_args: "tuist"
          cache: "false"
      - name: Authenticate with Tuist
        if: github.event.pull_request.head.repo.fork != true
        run: tuist auth login
      - run: ./gradlew assembleDebug
      - name: Share
        if: github.event.pull_request.head.repo.fork != true
        run: tuist share app/build/outputs/apk/debug/app-debug.apk
