name: conventional-pr
on:
  pull_request:
    types: [opened, edited]

concurrency:
  group: conventional-pr-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint-pr:
    name: Lint PR
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          requireScope: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
